.Login{
  display: flex;
  justify-content: center;
  margin-top: 200px;
}

.containerlog{
  display: flex;
  flex-direction: column;
  width: 400px;
  border: 1px solid gray;
  padding: 20px 30px;
}
#name,#pass{
  width: 94.5%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
}
#rgs_btn,#lgn_btn{
  width: 35%;
  margin-left: 29%;
  margin-top: 5px;
  padding: 5px;
  background-color: #2f3fd3;
  border: 1px solid;
  border-radius: 30px;
  padding: 5px 10px;
  cursor: pointer;
  color: wheat;
}
